.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/test/**
out/**/*.map
resources/**
!resources/twitch-coder-icon.png
src/**
tests/**
tests-out/**
.gitignore
.prettierignore
build.yml
bun.lock
tsconfig.json
tslint.json
webpack.config.js