.github/**
.idea/**
.vscode/**
.vscode-test/**
node_modules/**
out/test/**
patches/**
resources/**
!resources/twitch-coder-icon.png
src/**
tests/**
tests-out/**
.gitignore
.oxlintrc.json
.prettierignore
.vscode-test.mjs
bun.lock
tsconfig.json
tslint.json
TODO.md